* {
  padding: 0;
  margin: 0;
}

.page-container {
  direction: ltr;
  position: relative;
  overflow: visible;
  background-clip: content-box;
  user-select: none;
}

.text-layer {
  position: absolute;
  text-align: initial;
  inset: 0;
  overflow: hidden;
  opacity: 0.25;
  line-height: 1;
  text-size-adjust: none;
  forced-color-adjust: none;
  transform-origin: 0 0;
  z-index: 2;
  user-select: none;
}

.text-layer :is(span, br) {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
  user-select: text;
}

.text-layer span.markedContent {
  top: 0;
  height: 0;
}
.text-layer br::selection {
  background: transparent;
}

.text-layer ::selection {
  background: rgba(0, 0, 255, 1);
}
