@charset "utf-8";

@import 'variables.scss';
@import '../node_modules/bulma/bulma.sass';
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'fonts.css';
@import 'page-loader.scss';

#app {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Eczar;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.modal-card {
  max-width: 650px;
}

.modal-card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex-shrink: unset;
}

.panel {
  background-color: $scheme-main;
}

.toolbar-container {
  background-color: $scheme-main;
  border: 1px solid $border-light;
  border-radius: $radius;
  box-shadow: $shadow;
}

html {
  overflow: hidden;
}

.is-tiny.delete {
  height: 12px;
  max-height: 12px;
  max-width: 12px;
  min-height: 12px;
  min-width: 12px;
  width: 12px;
}

.box {
  width: 100%;
}